[submodule "repos/ai"]
	path = repos/ai
	url = https://git.drupalcode.org/project/ai.git
	ignore = dirty
[submodule "repos/ai_agents"]
	path = repos/ai_agents
	url = https://git.drupalcode.org/project/ai_agents.git
	ignore = dirty
[submodule "repos/ai_provider_amazeeio"]
	path = repos/ai_provider_amazeeio
	url = https://git.drupalcode.org/project/ai_provider_amazeeio.git
	ignore = dirty
[submodule "repos/ai_search"]
	path = repos/ai_search
	url = https://git.drupalcode.org/project/ai_search.git
	ignore = dirty
[submodule "repos/ai_seo"]
	path = repos/ai_seo
	url = https://git.drupalcode.org/project/ai_seo.git
