# Drupal installation (everything Drupal-related is in docroot/)
/docroot

# Dependencies managed by Composer (legacy - now in docroot/).
/recipes
/vendor

# Ignore all logs
/logs

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# NPM
node_modules/

# PHPStorm
.idea/

# Custom config
.ddev/config.drupalpod.yaml